<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>twig test file</title>
  </head>
  <body>
    <h1>Twig test</h1>

    {{ form_row(form.test, {
      id: 'test',
      label: 'test field',
      type: 'number',
      attr: {min: 10, step:5}
    }) }}
  </body>
</html>